			body 	{
				background-color: white;
				}
			* 	{
				font-family: Courier New;
				}
			.topnav{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 6fr;
				position: fixed;
				width: 100%;
				top: 0;
				background-color: white;
				text-align:center;
				border-style: solid;
				border-color: white white rgb(25,25,25) white;
				border-width: 1px;
				box-sizing: border-box;
				}
			.topnav a{
				display: flex;
				justify-content: center;
				align-items: center;
				color: rgb(25,25,25);
				font-size: 15px;
				padding: 10px 25px;
				text-decoration: none;
				border-left: 1px solid white;
				border-right: 1px solid white;
				box-sizing: border-box;
				}
			.topnav a:hover {
				color: black;
 				text-shadow: rgb(150,150,150) 0 0 2px;
				font-weight: bold;
				border-left: 1px solid rgb(25,25,25);
				border-right: 1px solid rgb(25,25,25);
				}
			.topnav img {
				height: 30px;
				width: auto;
				padding: 0px 5px !important;
				}
			.dropdown {
				display: flex;
				justify-content: center;
				align-items: center;
				border-left: 1px solid white;
				border-right: 1px solid white;
				box-sizing: border-box;
				}
			.dropdown .dropbtn {
				color: rgb(25,25,25);
				font-size: 15px;
				padding: 10px 25px;
				}	
			.dropdown .dropobj {
				display: none;
				position: absolute;
				top: 100%;
				background-color: rgb(220, 220, 220);
				box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
				z-index: 1;
				}
			.dropdown:hover .dropobj {
				display: block;
				}
			.dropobj a {
				display: block;
				float: none;
				font-size: 12px;
				}
			.dropobj a:hover{
				background-color: white;
				}
			h1 	{
				padding: 150px 0px;
				font-size: 60px;
				color: black;
				text-align: center;
				}
			h2 	{
				text-align: left;
				font-size: 30px;
				}
			h2 a	{
				color: black;
				}
			h2 a:hover{
				color: rgb(100,100,100);
				}
			h3	{
				font-size: 12px;
				color: rgb(150,150,150);
				text-align: right;
				}
			main 	{
				display: grid;
				grid-template-columns: 1fr 2fr;
				margin: 60px 20px;
				width: 100%;
				box-sizing: border-box;
				}
			main img {
				object-fit: contain;
				width: 75%;
				place-self: center;
				}
			main p {
				text-align: justify;
				color:rgb(80,80,80);
				font-size: 15px;
				margin: 0 50px 0 0;
				}
			footer	{
				padding: 50px 10px 10px 10px;
				display: grid;
				grid-template-columns: auto auto;
				}
			.section{
				padding: 30px 15px;
				}
			.img_link {
				place-self: center;
				width: 150px;
				}
			a 	{
				text-decoration: none;
				}
			p a:link{
				color: black;
				}
			p a:visited{
				color: #34415d;
				}
			p a:hover{
				color: #34415d;
				font-weight: bold;
				}
